{
  "disco": {
    "token": null
  },
  "api": {
    "last_key": null,
    "google_key": null,
    "spotify_ID": null,
    "spotify_secret": null
  },
  "owners": [
    115590097100865541
  ],
  "embed_values": {
    "url": null,
    "color": "000089"
  },
  "sql": {
    "database": null,
    "server": null,
    "user": null,
    "password": null
  }
}