{
  "token": null,
  "bot": {
    "commands_prefix": "",
    "commands_require_mention": true,
    "plugins": [
      "bot.disco.core",
      "bot.disco.api",
      "bot.disco.fm",
      "bot.disco.voice"
      ]
  }
}